<!DOCTYPE html>
<html>
<head>
	<meta http-equiv = "refresh" content ="10">
	<title> NFL app </title>
	<!-- using inline for now -->
	<style>
  .live {
    color: green;
    font-weight: bold;
  }

  .final {
    color: gray;
  }

  .upcoming {
    color: black;
  }
</style>

</head>
<body>
	<h1> {{"league"}} scores </h1>
	<ul>
		{% for game in games %}
			<li class = "{{ game.status_state|lower }}"> 
				{{game.home}} {{game.home_score}}
				 - 
				 {{game.away}} {{game.away_score}}
				({{game.status_text}})
			</li>
		{% endfor %}
	</ul>
</body>

</html>
