<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv = "refresh" content ="10">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> {{league}} </title>

 </head>
<body class ="dark">
  <div class = "container">
	<button id="themeToggle" class="toggle">Toggle dark mode</button>

	<h1> {{ league }} Scores </h1>
	<ul class = "games">
	  {% for game in games %}
	    <li class = "game-card {{ game.status_state|lower }}"> 
		  <div class = "teams">
			<div class = "team-row">
			  <div class= "team-left">
				{% if game.away_logo%} 
				  <img class ="logo"src = "{{game.away_logo}}" alt = "{{game.away}} logo">
				{%endif%}
				<span class = "team-name">{{game.away}}</span>
			   </div>
				<span class = "team-score">{{game.away_score}}</span>
			</div>
				
			  <div class = "team-row">
			    <div class= "team-left">
				{% if game.home_logo%} 
				  <img class="logo" src = "{{game.home_logo}}" alt = "{{game.home}} logo"> 
				{%endif%}
				<span class = "team-name">{{game.home}}</span>
			    </div>
				<span class = "team-score"> {{game.home_score}}</span>
			  </div>
			</div> 
			<div class ="meta">
			  <span class = "badge">{{game.status_state}}</span>
			  <span class = "detail">{{game.status_text}}</span>		 
			</div>
			</li>
		{% endfor %}
	</ul>

	<p> <a href = "/nhl">Hockey Scores</a> </p>
	<p> <a href = "/">NFL Scores</a> </p>
	<p> <a href = "/nba">NBA Scores</a> </p>
  </div>
  <script> 
	const btn = document.getElementById("themeToggle");
	btn.addEventListener("click", () => {
		document.body.classList.toggle("dark");
	});
  </script>

</body>

</html>
